{% load admin_static %}{% load firstof from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>Dinner for two - Admin</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/admin.css" %}{% endblock %}" /> 
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="dashboard">
    <div class="header">
        <div class="logo">
            <h1>
                <a href="/admin/">dinner42</a>
            </h1>
        </div>
        <div class="settings">
            <a href="/admin/password_change/"><div class="homeicon"></div></a>
            <a href="/admin/logout/"><div class="crossicon"></div></a>
        </div>
    </div>
 <!--    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
 -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
    </div>
</body>
</html>
