{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block content %}
<div class="actions">
    <a href="/admin/recipes/recipe/"><span>Visa recept</span></a>
    <a href="/admin/recipes/recipe/add" class="addlink"><span>Lägg till nytt recept</span></a> 
</div>
{% endblock %}

{% block sidebar %}
<div class="main">
    <h2>Senaste tillagda recept</h2>
    <div class="recipe">
        <h3>Pasta vongole</h3>
        <img src="img/vongole.jpg" />
        <ul>
            <li>500gr pasta av valfri sort</li>
            <li>200gr musslor</li>
            <li>2msk olivolja</li>
            <li>2tsk salt</li>
            <li>svarpeppar</li>
            <li>2dl vitt vin</li>
        </ul>
         <a href="#">Se hela receptet</a>
    </div>
</div>
{% endblock %} 

