body, button, input{
    font-size: 20px;
    font-family: "Source Sans Pro", Verdana,Arial,sans-serif;
    font-style:normal;
    font-weight:300;
}

h2 {
    font-size: 26px;
    font-weight:bold;
}

h3 {
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: #f6f7f8;
    position: relative;
    color: #FF6A39;
}
    
a {
    text-decoration: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    margin-bottom: 10px;
}

.header {
    background: #FFF;
    color: #FF6A39;
    overflow: hidden;
    margin-bottom: 10px;
}

.logo {
    float: left;
    margin-left: 10px;
}

.header h1 a:link{
    color:#FF6A39;
}

.container {
    width: 100%;  
}

.settings {
    float: right;
    margin-right: 10px;
}

.actions {  
    text-align: center;
}

.actions a, button {
    background: #FF6A39;
    min-width: 120px;
    min-height: 28px;
    border: none;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size:18px;
}

input {
    width:375px;
    display:block;
    height: 34px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number],
textarea, select {
    border: 1px solid #ccc;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #FF6A39;
}

.form-row {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.form-row.field-title div {
    display: inline-block;
}

.properties {
    margin-bottom: 15px;
}

.actions a:hover, button:hover {
    background: #994022;
}

.actions span {
    color: #FFF;
    line-height:28px;
    display: block;
}   

.main {
    margin-left: 10px;
}

.recipe {
    background: #fff;
    color: #000;
    display: block;
    width: 400px;
    overflow: hidden;
    margin-bottom: 12px;
    padding-bottom: 10px;
}

.recipe img {
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: center;
    margin-right: 25px;
    margin-left: 10px;

}

.recipe h3 {
    margin: 10px;
}

.recipe a {
    margin-left: 10px;
    margin-bottom: 10px;
}

div.homeicon {
    height: 0px;
    width: 0px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #FF6A39 transparent;
    position: absolute;

    margin: 12px 0px 0px -50px;
}

div.homeicon:after {
    content: '';
    width: 5px;
    height: 16px;
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: -11px;
    border-left: 8px solid #FF6A39;
    border-right: 8px solid #FF6A39;
}

div.homeicon:before {
    content: '';
    width: 9px;
    height: 6px;
    background-color: #FF6A39;
    position: absolute;
    top: 16px;
    right: -5px;
}

div.homeicon:hover {
    border-color: transparent transparent #994022 transparent;
}

div.homeicon:hover:after {
    border-left: 8px solid #994022;
    border-right: 8px solid #994022;
}

div.homeicon:hover:before {
    background-color: #994022;
}

div.crossicon {
    width: 25px;
    height: 4px;
    background: #FF6A39;
    margin: 45px 10px 0px 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.crossicon:after {
    content: '';
    width: 25px;
    height: 4px;
    background: #FF6A39;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

div.crossicon:hover, div.crossicon:hover:after,
div.plusicon:hover:after, div.plusicon:hover {
    background: #994022;
}

div.plusicon {
    width: 24px;
    height: 4px;
    background: #FF6A39;
    position: absolute;
}

div.plusicon:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 24px;
    background: #FF6A39;
    left: 10px;
    top: -10px;
}
.add {
    display: inline-block;
    margin-left: 10px;
}
