body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Source Sans Pro", Verdana,Arial,sans-serif;
    font-style:normal;
    font-weight:300;
    background: #f6f7f8;
    position: relative;
}
    
a {
    text-decoration: none;
}

.header {
    background: #FFF;
    color: #FF6A39;
    overflow: hidden;
    margin-bottom: 10px;
}

.logo {
    float: left;
    margin-left: 10px;
}

.header h1 a:link{
    color:#FF6A39;
}

.container {
    width: 100%;  
}

.settings {
    float: right;
    margin-right: 10px;
}

.actions {  
    text-align: center;
}

.actions a {
    background: #FF6A39;
    width: 130px;
    height: 28px;
    font-size: 16px;
    border: none;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 5px;
}

.actions a:hover {
    background: #994022;
}

.actions span {
    color: #FFF;
    line-height:28px;
    display: block;
}

.events {
    margin-left: 10px;
}

.recipe {
    background: #fff;
    display: block;
    width: 400px;
    overflow: hidden;
    margin-bottom: 12px;
    padding-bottom: 10px;
}

.recipe img {
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: center;
    margin-right: 25px;
    margin-left: 10px;

}

.recipe h3 {
    margin: 10px;
}

.recipe a {
    margin-left: 10px;
    margin-bottom: 10px;
}

div.homeicon {
    height: 0px;
    width: 0px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #FF6A39 transparent;
    position: absolute;

    margin: 12px 0px 0px -50px;
}

div.homeicon:after {
    content: '';
    width: 5px;
    height: 16px;
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: -11px;
    border-left: 8px solid #FF6A39;
    border-right: 8px solid #FF6A39;
}

div.homeicon:before {
    content: '';
    width: 9px;
    height: 6px;
    background-color: #FF6A39;
    position: absolute;
    top: 16px;
    right: -5px;
}

div.homeicon:hover {
    border-color: transparent transparent #994022 transparent;
}

div.homeicon:hover:after {
    border-left: 8px solid #994022;
    border-right: 8px solid #994022;
}

div.homeicon:hover:before {
    background-color: #994022;
}

div.crossicon {
    width: 25px;
    height: 4px;
    background: #FF6A39;
    margin: 45px 10px 0px 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.crossicon:after {
    content: '';
    width: 25px;
    height: 4px;
    background: #FF6A39;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

div.crossicon:hover, div.crossicon:hover:after {
    background: #994022;
}
